---
import BaseLayout from '@layouts/BaseLayout.astro';
import { socialLinks, secondaryNavigation } from '@data/config';
import { Icon } from 'astro-icon';

const socials = socialLinks.sort((a, b) => a.label.localeCompare(b.label));
---

<BaseLayout>
	<section aria-labelledby="#title" class="container">
		<h1 id="title" class="title--lg">
			John Eatmon is a <em class="font-serif">designer</em>, <em class="font-serif">developer</em>,
			and <em class="font-serif">coffee addict</em> based in Tacoma.
		</h1>
	</section>
	<section aria-labelledby="#blogroll" class="container">
		<h2 id="#blogroll" class="title--smol">Recent blog posts</h2>
		<ul role="list" class="blogroll">
			<li>
				<a href="#" class="link">
					<h3>Great typefaces that aren’t Inter</h3>
				</a>
				<time>Jun 21, 2022</time>
			</li>
			<li>
				<a href="#" class="link">
					<h3>Currently No1</h3>
				</a>
				<time>Jun 21, 2022</time>
			</li>
			<li>
				<a href="#" class="link">
					<h3>This post took 2 years to write</h3>
				</a>
				<time>Jun 21, 2022</time>
			</li>
		</ul>
	</section>
	<div class="container sections">
		<section aria-labelledby="#other-things">
			<h3 id="other-things" class="title--smol">Other things</h3>
			<ul role="list">
				{
					secondaryNavigation.map((link) => (
						<li class="icon-link">
							<Icon name={link.icon} />
							<a class="link" href={link.href}>
								{link.label}
							</a>
						</li>
					))
				}
			</ul>
		</section>
		<section aria-labelledby="#recent-hikes">
			<h3 id="recent-hikes" class="title--smol">Recent hikes</h3>
			<ul role="list">
				<li><a class="link" href="#">Spectacle Lake</a>&nbsp;&nearr;</li>
				<li><a class="link" href="#">Greg Ball via Granite Creek Trail</a>&nbsp;&nearr;</li>
				<li><a class="link" href="#">Lake Thompson Trail</a>&nbsp;&nearr;</li>
			</ul>
		</section>
		<section
			aria-labelledby="#connect"
			class="flex flex-wrap gap-x-fl-2 sm:gap-0 sm:justify-between"
		>
			<h3 id="connect" class="title--smol">Let’s connect</h3>
			<ul role="list">
				{
					socials.slice(0, 3).map((link) => (
						<li>
							<a class="link" href={link.href}>
								{link.label}
							</a>
						</li>
					))
				}
			</ul>
			<ul role="list">
				{
					socials.slice(3, 6).map((link) => (
						<li>
							<a class="link" href={link.href}>
								{link.label}
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</div>
</BaseLayout>

<style>
	section[aria-labelledby='#title'] {
		padding-block-start: var(--size-fl-8);
	}

	.icon-link {
		display: flex;
		column-gap: var(--size-fl-1\/2);
		align-items: center;

		& [astro-icon] {
			block-size: var(--size-fl-1\.25);
			inline-size: var(--size-fl-1\.25);
			color: hsl(var(--jm-primary));
		}
	}

	section[aria-labelledby='#blogroll'] {
		padding-block-start: var(--size-fl-3\.5);
	}

	.blogroll {
		margin-block-start: var(--size-fl-2);
		display: flex;
		flex-direction: column;
		row-gap: var(--size-fl-1);

		& li {
			display: flex;
			justify-content: space-between;
			column-gap: var(--size-fl-2);
		}

		& h3 {
			font-weight: var(--font-weight-5);
			font-size: var(--font-size-fl-0);
		}

		& time {
			color: hsl(var(--jm-mid));
		}
	}

	.sections {
		padding-block-start: var(--size-fl-3\.5);
		display: flex;
		flex-wrap: wrap;
		gap: var(--size-fl-4);

		& section[aria-labelledby='#connect'] {
			& h3 {
				width: 100%;
				margin-block-end: var(--size-fl-1);
			}

			display: flex;
			flex-wrap: wrap;
			column-gap: var(--size-fl-2);
		}

		& h3 {
			margin-block-end: var(--size-fl-2);
		}

		& ul > * + * {
			margin-block-start: var(--size-fl-1);
		}
	}

	@media (min-width: 698px) {
		.sections {
			justify-content: space-between;
		}

		section[aria-labelledby='#connect'] {
			justify-content: space-between;
			gap: 0;
		}
	}
</style>
