---
import { site } from '@data/config';
import '@styles/main.css';

const cloudflareAccountHash = import.meta.env.CLOUDFLARE_ACCOUNT_HASH;
const cloudflareOpenGraphImg = `https://imagedelivery.net/${cloudflareAccountHash}/1608c0a5-eb1b-496b-cd85-43c9282a7800/opengraph`;

export interface Props {
	title: string;
	description: string;
	image?: {
		href: string | URL,
		alt: string
	};
	type?: string;
	section?: string;
	tags?: string[];
	datePublished?: string;
	dateModified?: string;
	prev?: string;
	next?: string;
}

const {
	title = site.fallbackTitle,
	description = site.fallbackDesc,
	image = {
		href: cloudflareOpenGraphImg,
		alt: `A stylized image of a design system created in Figma by John Eatmon.`
	},
	type = "website",
	section,
	tags,
	datePublished,
	dateModified,
	prev,
	next
} = Astro.props as Props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{title} | {site.name}</title>

<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />
{!import.meta.env.DEV && (
  <link rel="preload" href="/fonts/soehne/woff2/soehne-400.woff2" as="font" />
  <link rel="preload" href="/fonts/soehne/woff2/soehne-400-kursiv.woff2" as="font" />
  <link rel="preload" href="/fonts/soehne/woff2/soehne-500.woff2" as="font" />
  <link rel="preload" href="/fonts/soehne/woff2/soehne-500-kursiv.woff2" as="font" />
  <link rel="preload" href="/fonts/soehne/woff2/soehne-700.woff2" as="font" />
  <link rel="preload" href="/fonts/soehne/woff2/soehne-700-kursiv.woff2" as="font" />
  <link rel="preload" href="/fonts/soehne/woff2/soehne-800.woff2" as="font" />
  <link rel="preload" href="/fonts/soehne/woff2/soehne-800-kursiv.woff2" as="font" />
)}
{(import.meta.env.NODE_ENV === 'production') ? (
	<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
) : (
	<meta name="robots" content="follow, noindex" />
)}
<meta name="copyright" content={site.name} />
{type === "article" && <meta name="author" content={site.name} />}

<meta property="og:locale" content="en_US" />
<meta property="og:type" content={type} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={new URL(Astro.url.pathname, Astro.site).href} />
<meta property="og:site_name" content={site.name} />
{dateModified && <meta property="og:updated_time" content={dateModified} />}
{image && (
	<meta property="og:image" content={image.href} />
	<meta property="og:image:alt" content={image.alt} />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:image:type" content="image/png" />
)}

{(type === "article") && <meta property="article:publisher" content={Astro.site} />}
{section && <meta property="article:section" content={section} />}
{tags && (tags.map((tag) =>
	<meta property="article:tag" content={tag} />
))}
{datePublished && <meta property="article:published_time" content={datePublished} />}
{dateModified && <meta property="article:modified_time" content={dateModified} />}

<meta name="twitter:dnt" content="on" />
<meta name="twitter:site" content={site.twitter} />
<meta name="twitter:creator" content={site.twitter} />
<meta name="twitter:domain" content={site.name} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:card" content={image ? "summary_large_image" : "summary"} />
{image && (
	<meta name="twitter:image" content={image.href} />
	<meta name="twitter:image:alt" content={image.alt} />
)}

<meta name="theme-color" content="#181a1b" media="(prefers-color-scheme: dark)" />
<meta name="theme-color" content="#f6f6f6" media="(prefers-color-scheme: light)" />
<meta name="color-scheme" content="light dark" />

<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site).href} />
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👨🏻‍💻</text></svg>" />
{prev && <link rel="prev" aria-label="Previous Page" href={new URL(prev, Astro.site).href} />}
{next && <link rel="next" aria-label="Next Page" href={new URL(next, Astro.site).href} />}

{import.meta.env.PROD && (
	<script defer data-domain="jmae.xyz" src="/js/script.js"></script>
)}
