---
import Schema from '@components/Schema.astro';
import '@styles/main.css';

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props as Props;
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{title} | J.M.A. Eatmon</title>

<meta name="description" content={description} />
{import.meta.env.PROD ? (
	<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
) : (
	<meta name="robots" content="follow, noindex" />
)}

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.canonicalURL} />
<meta property="og:site_name" content="J.M.A. Eatmon" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />

<meta name="color-scheme" content="dark light" />
<meta name="theme-color" content="#0d1117" media="(prefers-color-scheme: dark)" />
<meta name="theme-color" content="#e3e9f0" media="(prefers-color-scheme: light)" />

<link rel="canonical" href={Astro.canonicalURL} />
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦙</text></svg>" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css">

<Schema />
