---
import { parseHTML } from 'linkedom';
import { machineDate, readableDate } from '@/lib/datetime';
import { getReadingTime } from '@/lib/readingtime';
import Image from 'astro-imagetools';

export interface Props {
  post: any;
}

const { post } = Astro.props;

const { document } = parseHTML(post.content.html);
const lede = document.querySelector('p').innerHTML;
---
<article class="card">
  <Image 
    src="/src/img/test.jpg" 
    alt="Some lovely, misty mountains."
    placeholder="blurred"
  />
  <header>
    <h3>{post.title}</h3>
    <p class="meta">
      <time datetime={machineDate(post.date)}>{readableDate(post.date)}</time>
      &middot; {getReadingTime(post.astro.html)} min read
    </p>
    <ul class="tags-list" role="list">
      {post.tags.map((tag) =>
        <li>
          <a href={`/tag/${tag}`}>
            {tag}
          </a>
        </li>
      )}
    </ul>
  </header>
  <main class="lede">
    <p set:html={lede} />
  </main>
  <footer>
    <a href={post.url}>Read more &rarr;</a>
  </footer>
</article>

<style lang="scss">
  .card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 1rem;
    line-height: 1.4;
    color: #220C10;

    .meta {
      font-style: italic;
    }

    .tags-list {
      list-style: none;
      display: inline-flex;
      gap: 10px;

      li {
        line-height: 1;
        color: black;
        background-color: #77CBB9;
        padding: 5px 10px 3px 10px;
        border-radius: 999px;

        &::before {
          content: '#';
        }

        & a {
          text-decoration: none;
          color: inherit;

          &:hover {
            text-decoration-line: underline;
            text-decoration-thickness: 0.125rem;
            text-underline-offset: 2px;
          }
        }
      }
    }

    .lede p {
      font-size: 1.125rem;
    }

    header {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    h3 {
      font-size: 36px;
      line-height: 1.1;
      letter-spacing: -1%;
    }

    footer a {
      font-weight: 700;
      text-decoration: none;
      color: inherit;
    }
  }
</style>
