---
import { Img } from 'astro-imagetools/components';

export interface Props {
	project: any;
}

const { project } = Astro.props as Props;
---

<a href={project.url} class="project">
	<Img
		src={project.frontmatter.image.href}
		alt={project.frontmatter.image.alt}
		preload="avif"
		loading="lazy"
		objectFit="cover"
	/>
	<h3>{project.frontmatter.title}</h3>
	<span>&nbsp;— {project.frontmatter.description}</span>
</a>

<style>
	.project {
		text-decoration: none;

		& * {
			opacity: 0.9;
		}

		&:hover * {
			opacity: 1;
		}

		& h3 {
			display: inline-block;
			margin-top: 1rem;
			font-size: 1rem;
		}
	}
</style>
