---
import BaseLayout from '@layouts/BaseLayout.astro';
import ProjectPreview from '@components/ProjectPreview.astro';

const title = 'My Writing';
const description =
	"Design projects I've lead and managed from ideation to launch — primarily in the technology space.";

export async function getStaticPaths({ paginate }) {
	const allPosts = await Astro.glob('./*.mdx')
		.then((res) => res.filter((x) => x.frontmatter.draft != true))
		.then((res) =>
			res.sort(
				(a, b) =>
					new Date(b.frontmatter.published).valueOf() - new Date(a.frontmatter.published).valueOf()
			)
		);

	return paginate(allPosts, {
		pageSize: 15,
	});
}

const { page } = Astro.props;

const prev = page.url.next;
const next = page.url.next;
---

<BaseLayout {title} {description} {prev} {next}>
	<section aria-labelledby="#title" class="container">
		<h1 id="title" class="title--lg">My Work</h1>
		<p>
			{description}
		</p>
	</section>
	<section aria-labelledby="#case-studies" class="container">
		<h2 id="case-studies" class="title--smol">Case studies</h2>
		<ul role="list">
			{page.data.map((project) => <ProjectPreview {project} />)}
		</ul>
	</section>
</BaseLayout>

<style lang="css">
	section[aria-labelledby='#title'] {
		padding-block-start: clamp(2.63rem, calc(1.31rem + 6.59vw), 6rem);

		& h1 {
			margin-block-end: 0.5em;
		}

		& p {
			color: hsl(var(--jm-mid));
			max-width: 40rem;
		}

		& .count {
			color: hsl(var(--jm-light));
			font-weight: var(--font-weight-5);
		}
	}

	section[aria-labelledby='#case-studies'] {
		padding-block-start: var(--size-fl-3\.5);

		& ul {
			padding-block-start: var(--size-fl-1);
			--min: 30ch;
			display: grid;
			grid-gap: var(--size-fl-2);
			/* min() with 100% prevents overflow in extra narrow spaces */
			grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
		}
	}
</style>
