---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import ThemeToggle from '@components/ThemeToggle.astro';
import Footer from '@components/Footer.astro';

const { title, description, type, section, tags, datePublished, dateModified } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {type} {section} {tags} {datePublished} {dateModified} />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
		<ThemeToggle />
	</body>
</html>
