---
import BaseLayout from '@layouts/BaseLayout.astro';
import { parseHTML } from 'linkedom';
import { machineDate, readableDate } from '@scripts/dates';
import '@styles/prism-duotone-forest.css';

const { content } = Astro.props;

const { document } = parseHTML(content.astro.html);

const title = content.title;
const description = content.description ?? document.querySelector('p:first-of-type').innerHTML.slice(0, 152) + '...';
---

<BaseLayout {title} {description} type="article" section="Article" datePublished={content.published} dateModified={content.modified}>
	<article>
		<header class="wrapper">
			<h1>
				{content.title}
			</h1>
		</header>
		<main class="wrapper">
			<slot />
		</main>
		{(content.published || content.modified || content.tags) && (
			<footer class="wrapper">
				<small>
					<div>
						{(content.published) && (
							<span>
								Posted on <time datetime={machineDate(content.published)}>{readableDate(content.published)}</time>
							</span>
						)}
						{(content.modified) && (
							<span>
								&middot; Updated on <time datetime={machineDate(content.modified)}>{readableDate(content.modified)}</time>
							</span>
						)}
					</div>
					{(content.tags) && (
						<div class="tags">
							{content.tags.map((tag) =>
								<span>#{tag}</span>
							)}
						</div>
					)}
				</small>
			</footer>
		)}
	</article>
</BaseLayout>
